<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzl.fooddao.mapper.MealMapper" >
  <resultMap id="BaseResultMap" type="com.dzl.foodpojo.entity.Meal" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="entry_id" property="entryId" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, img_url, entry_id, is_del, description
  </sql>
  <select id="selectLimit" resultMap="BaseResultMap" parameterType="com.dzl.foodpojo.entity.Meal" >
    select
    <include refid="Base_Column_List" />
    from meal
    <where>
      <if test="name!=null">
        name like concat('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="entryId!=null">
        and entry_id = #{entryId,jdbcType=BIT}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from meal
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from meal
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dzl.foodpojo.entity.Meal" >
    insert into meal (id, name, price, 
      img_url, entry_id, is_del, 
      description)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{imgUrl,jdbcType=VARCHAR}, #{entryId,jdbcType=BIGINT}, #{isDel,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dzl.foodpojo.entity.Meal" >
    insert into meal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="entryId != null" >
        entry_id,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="entryId != null" >
        #{entryId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzl.foodpojo.entity.Meal" >
    update meal
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="entryId != null" >
        entry_id = #{entryId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzl.foodpojo.entity.Meal" >
    update meal
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      entry_id = #{entryId,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>